<mat-toolbar color="primary">
    <button (click)="toggleSidenav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Hai pe vent</span>
    <button (click)="openLoginDialog()" mat-button color="secondary" class="example-icon favorite-icon" >
        Login
    </button>
    <button (click)="openRegisterDialog()" mat-button color="secondary" class="example-icon" >
        Register
    </button>
</mat-toolbar>