<mat-toolbar class="mat-elevation-z2" color="primary">
  <div class="nav">
    <button
      (click)="toggleSidenav()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logo">
    <span>HypΣvent</span>
  </div>

  <div class="actions">
    <button
      *ngIf="this.isLoggedIn === false"
      (click)="openLoginDialog()"
      mat-button
      color="secondary"
      class="example-icon favorite-icon"
    >
      Login
    </button>
    <button
      *ngIf="this.isLoggedIn === false"
      (click)="openRegisterDialog()"
      mat-button
      color="secondary"
      class="example-icon"
    >
      Register
    </button>
    <!-- <button
      *ngIf="this.isLoggedIn === true"
      (click)="openProfile()"
      mat-button
      color="secondary"
      class="example-icon"
    >
      Profile
    </button> -->
    <button
      *ngIf="this.isLoggedIn === true"
      (click)="logout()"
      mat-button
      color="secondary"
      class="example-icon"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
