.button-filter-panel {
  margin: 8px;
}

.mat-card {
  margin-bottom: 16px;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  flex-grow: 1;
  margin: 0 8px;
}

.action-btns {
  display: flex;
  flex-direction: column;
}
