.mat-card {
  margin-bottom: 16px;
  padding: 8px;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mat-form-field,
.mat-card .mat-card-content .mat-form-field:first-child {
  flex-grow: 1;
  margin: 8px;
}

button {
  margin: 8px;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
