.mat-card {
  margin-bottom: 16px;

  cursor: pointer;
}

.mat-card-content {
  margin-bottom: 0;
}

.mat-icon {
  font-size: 20px;
  margin-right: 8px;
}

.icon-with-text {
  display: flex;
  align-items: center;
}
