.event-card-cointainer {
  display: block;
}

.event-header::ng-deep .mat-card-header-text {
  margin: 0px;
}

.mat-icon {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}

.icon-with-text {
  display: flex;
  align-items: center;
}
