// .event-card-cointainer {
//   display: block;
// }

.mat-icon {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}

.icon-with-text {
  display: flex;
  align-items: center;
}

.mat-card {
  margin-top: 16px;
}
