/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icons/iconfont/material-icons.css";
@import '~ngx-bar-rating/themes/br-stars-theme';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

mat-drawer-container {
  min-height: 100vh;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card {
  max-width: 765px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .mat-card {
    max-width: 765px;
    margin: 0 auto;
  }
}
