<mat-tab-group *ngIf="eventId$ | async as idTemplate">
  <mat-tab label="Details">
    <app-event-details
      (joinedEvent)="handleJoinedEvent($event)"
      [invitationStatus]="userInvitationType"
      [showJoinButton]="!isOwner && !isEventPast && isViewer"
      [eventId]="idTemplate"
    ></app-event-details>
  </mat-tab>
  <mat-tab label="Comments">
    <app-event-comments [eventId]="idTemplate"></app-event-comments>
  </mat-tab>
  <mat-tab label="Participants" *ngIf="!event?.isLimitedDetails">
    <app-event-participants [isOwner]="isOwner" [eventId]="idTemplate"></app-event-participants>
  </mat-tab>
  <mat-tab *ngIf="shouldConfirmInvitations" label="Confirm Participants">
    <app-event-participants-confirm [eventId]="idTemplate"></app-event-participants-confirm>
  </mat-tab>
  <mat-tab *ngIf="shouldConfirmAttendance" label="User Attendance">
    <app-event-confirm-attendance [eventId]="idTemplate"></app-event-confirm-attendance>
  </mat-tab>
</mat-tab-group>
