<mat-tab-group *ngIf="eventId$ | async as idTemplate">
  <mat-tab label="Details">
    <app-event-details
      (joinedEvent)="handleJoinedEvent($event)"
      [invitationStatus]="userInvitationType"
      [showJoinButton]="!isOwner && !isEventPast && isViewer"
      [eventId]="idTemplate"
      [isOwner]="isOwner"
    ></app-event-details>
  </mat-tab>
  <mat-tab label="Comments">
    <app-event-comments [eventId]="idTemplate"></app-event-comments>
  </mat-tab>
  <mat-tab label="Participants" *ngIf="!event?.isLimitedDetails && isLoggedIn && user">
    <app-event-participants
      [user]="user"
      [isOwner]="isOwner"
      [eventId]="idTemplate"
      [eventStartDate]="event.startTime"
    ></app-event-participants>
  </mat-tab>
</mat-tab-group>
