<mat-card>
  <mat-card-header>
    <mat-card-title>{{ invitation.user.firstName }} {{ invitation.user.lastName }}</mat-card-title>
    <mat-card-subtitle>Level {{ invitation.user.trustLevel }}</mat-card-subtitle>
    <button mat-icon-button color="primary" (click)="sendFeedback()" *ngIf="!this.isOwnInvitation">
      <mat-icon>feedback</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="actions">
      <ng-template [ngIf]="!this.isOwnInvitation && isOwner">
        <mat-form-field appearance="outline">
          <mat-label>Invitation status</mat-label>
          <mat-select
            [(ngModel)]="updatedStatus"
            (ngModelChange)="onStatusChange()"
            [disabled]="statusDisabled"
          >
            <mat-option [value]="status.value" *ngFor="let status of invitationStatuses">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Attendance status</mat-label>
          <mat-select
            [(ngModel)]="updatedAttendStatus"
            (ngModelChange)="onAttendStatusChange()"
            [disabled]="attendStatusDisabled"
          >
            <mat-option [value]="status.value" *ngFor="let status of invitationAttendStatuses">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
