.mat-card {
  margin-bottom: 16px;
  padding: 8px;
}

//.mat-card-content {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//}

.actions {
  display: flex;
  flex-wrap: wrap;
}

.actions .mat-form-field {
  flex-grow: 1;
}

.mat-card-title,
.mat-card-subtitle,
.mat-form-field,
button {
  margin: 8px;
}

:host ::ng-deep .mat-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
