.mat-card {
  margin-bottom: 15px;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mat-card-subtitle {
  margin-bottom: 0;
}
