<div class='event-participant-confirm-card'>
	<mat-card>
		<mat-card-header>Confirm user: </mat-card-header>
		
		<mat-card-content class="event-participant-confirm-card-name">Nume</mat-card-content>
		
		<div class='event-participant-confirm-card-answer'>
			<mat-card-actions>
				<button class='event-participant-confirm-card-yes' mat-raised-button color="primary" (click)="">✓</button>
			</mat-card-actions>
			
			<mat-card-actions>
				<button class='event-participant-confirm-card-no' mat-raised-button (click)="">X</button>
			</mat-card-actions>
		<div>
	</mat-card>
</div>
