DB_NAME = 'spiral'
DB_USERNAME = None
DB_PASSWORD = None
DB_HOST = '127.0.0.1'
DB_PASS = 27017
JWT_SECRET_KEY = 'change-this'
JWT_TOKEN_LOCATION = ['cookies']
JWT_COOKIE_CSRF_PROTECT = False
MAX_PAGINATED_LIMIT = 100
GEOGRAPHICAL_APPROXIMATION_DIGITS = 2
GEOGRAPHICAL_APPROXIMATION_METERS = 1000
