.register-title {
  font-size: 30px;
  font-weight: 500;
}
.register-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.register-full-width {
  width: 100%;
}

.register-container {
  max-width: 300px;
  // margin-left: 40px;
}

.register-container {
  overflow: auto;
}

.register-button {
  float: left;
  margin-left: 20px;
}

.cancel-button {
  float: right;
  margin-right: 20px;
}
