<h2 mat-dialog-title>Edit profile</h2>

<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Username</mat-label>
    <input #usernameInput matInput />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>First name</mat-label>
    <input #firstNameInput matInput />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Last name</mat-label>
    <input #lastNameInput matInput />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="update-button"
    mat-raised-button
    color="primary"
    (click)="updateProfile(usernameInput.value, firstNameInput.value, lastNameInput.value)"
  >
    Update
  </button>

<button class="cancel-button" mat-raised-button (click)="close()">Cancel</button>
</mat-dialog-actions>
