.profile-title{
    font-size: 30px;
    font-weight: 500;
}
.profile-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }
  
.profile-full-width {
    width: 100%;
}

.profile-container {
    max-width: 300px;
    margin-left: 40px;
}

.profile-container {
    overflow:auto;
}

.profile-button{
    float:left;
    margin-left: 20px;
}

.cancel-button{
    float: right;
    margin-right: 20px;
}