<div class="event-details">
  <mat-card *ngIf="appEvent">
    <div
      style="height: 25rem"
      leaflet
      [leafletOptions]="mapService.options"
      [(leafletCenter)]="mapService.map.center"
      [(leafletZoom)]="mapService.map.zoom"
      [leafletLayers]="[selectedEventMarker]"
    ></div>

    <mat-card-header>
      <mat-card-title>{{ appEvent.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="prop">
        <mat-icon inline="true">date_range</mat-icon>
        {{ appEvent.startTime | date: "medium" }} - {{ appEvent.endTime | date: "medium" }}
      </div>
      <div class="prop" *ngIf="!appEvent?.isLimitedDetails">
        <mat-icon inline="true">how_to_reg</mat-icon>

        <span>
          {{ appEvent.noParticipants }}
        </span>

        <span *ngIf="!appEvent?.isUnlimitedParticipants">/ {{ appEvent.noMaxParticipants }}</span>
      </div>
      <div class="prop" *ngIf="!appEvent?.isLimitedDetails">
        <mat-icon inline="true">location_on</mat-icon>
        {{ appEvent.location }}
      </div>
      <div class="prop">
        <mat-icon inline="true">category</mat-icon>
        {{ appEvent.categoryText }}
      </div>
      <div class="card-bottom">
        <div class="left-side">
          {{ appEvent.description }}
        </div>
        <!-- <div *ngIf="!invitation" class="rigth-side">
          <button (click)="joinEvent()" color="primary" mat-raised-button>Join event</button>
        </div> -->
      </div>
      <button class="join-button" (click)="joinEvent()" *ngIf="!invitation" mat-fab color="primary">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button (click)="editEvent()" class="edit-button" *ngIf="isOwner" mat-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteEvent()" *ngIf="isOwner" class="delete-button" mat-fab color="primary">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-content>
    <mat-card-actions *ngIf="!isOwner">
      <mat-chip-list class="right-side" *ngIf="invitation">
        <mat-chip *ngIf="invitation.statusText === 'pending'" class="yellow-chip">
          <mat-icon>pending</mat-icon>
          {{ invitation.statusText }}
        </mat-chip>
        <mat-chip *ngIf="invitation.statusText === 'accepted'" class="green-chip">
          <mat-icon>check_circle</mat-icon>
          {{ invitation.statusText }}
        </mat-chip>
        <mat-chip *ngIf="invitation.statusText === 'denied'" class="red-chip">
          <mat-icon>cancel</mat-icon>
          {{ invitation.statusText }}
        </mat-chip>
        <mat-chip *ngIf="invitation.attendStatusText === 'unchecked'" class="yellow-chip">
          <mat-icon>pending</mat-icon>
          {{ invitation.attendStatusText }}
        </mat-chip>
        <mat-chip *ngIf="invitation.attendStatusText === 'attended'" class="green-chip">
          <mat-icon>check_circle</mat-icon>
          {{ invitation.attendStatusText }}
        </mat-chip>
        <mat-chip *ngIf="invitation.attendStatusText === 'missed'" class="red-chip">
          <mat-icon>cancel</mat-icon>
          {{ invitation.attendStatusText }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</div>
