<mat-card *ngIf="appEvent" class="example-card">
  <mat-card-header>
    <mat-card-title>{{ appEvent.title }}</mat-card-title>
    <div class="no-participants" *ngIf='appEvent.noParticipants>=0'>
      <mat-icon aria-hidden="false">how_to_reg</mat-icon>

      <p class="no-participants-text"> {{appEvent.noParticipants}} / {{appEvent.noMaxParticipants}}</p>
      
    </div>
    <mat-card-subtitle *ngIf="!appEvent?.isLimitedDetails">
      <mat-icon inline="true">location_on</mat-icon>
      {{ appEvent.location }}
    </mat-card-subtitle>
    <mat-card-subtitle>{{ appEvent.categoryText }}</mat-card-subtitle>
  </mat-card-header>

  <div
    style="height: 25rem"
    leaflet
    [leafletOptions]="mapService.options"
    [(leafletCenter)]="mapService.map.center"
    [(leafletZoom)]="mapService.map.zoom"
    [leafletLayers]="[selectedEventMarker]"
  ></div>

  <mat-card-content>
    <div class="period">
      <mat-chip-list>
        <mat-chip>
          Start {{appEvent.startTime | date:'medium'}}
        </mat-chip>
        <mat-chip>
          End {{appEvent.endTime | date:'medium'}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <p>
      {{ appEvent.description }}
    </p>
   
  </mat-card-content>

  <mat-card-actions>
    <button *ngIf="showJoinButton" (click)="joinEvent()" color="primary" mat-raised-button>Join event</button>
    <mat-chip-list *ngIf="!showJoinButton">
      <mat-chip color="primary">Invitation status: {{invitationStatus}}</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
