.mat-card {
  max-width: 60%;
  margin: 15px auto;
}

@media (max-width: 800px) {
  .mat-card {
    max-width: 90%;
    margin: 15px auto;
  }
}

.mat-card-content {
  font-size: 16px;
}

.no-participants{
  display:flex;
}

.no-participants-text{
  margin-top: 3px;
  margin-left: 8px
}

.mat-card-header {
  margin-top: 16px;
}

.prop {
  color:gray;
  padding-bottom: 7px;
}