<div class="event-details">
  <mat-card *ngIf="appEvent">
    <div
      style="height: 25rem"
      leaflet
      [leafletOptions]="mapService.options"
      [(leafletCenter)]="mapService.map.center"
      [(leafletZoom)]="mapService.map.zoom"
      [leafletLayers]="[selectedEventMarker]"
    ></div>

    <mat-card-header>
      <mat-card-title>{{ appEvent.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="prop">
        <mat-icon inline="true">date_range</mat-icon>
        {{ appEvent.startTime | date: "medium" }} - {{ appEvent.endTime | date: "medium" }}
      </div>
      <div class="prop" *ngIf="!appEvent?.isLimitedDetails">
        <mat-icon inline="true">how_to_reg</mat-icon>

        <span>
          {{ appEvent.noParticipants }}
        </span>

        <span *ngIf="!appEvent?.isUnlimitedParticipants">
           / {{ appEvent.noMaxParticipants }}
        </span>
      </div>
      <div class="prop" *ngIf="!appEvent?.isLimitedDetails">
        <mat-icon inline="true">location_on</mat-icon>
        {{ appEvent.location }}
      </div>
      <div class="prop">
        <mat-icon inline="true">category</mat-icon>
        {{ appEvent.categoryText }}
      </div>
      <p>
        {{ appEvent.description }}
      </p>
    </mat-card-content>

    <mat-card-actions *ngIf="isLoggedIn">
      <button *ngIf="showJoinButton" (click)="joinEvent()" color="primary" mat-raised-button>
        Join event
      </button>
      <mat-chip-list *ngIf="!showJoinButton">
        <mat-chip color="primary">Invitation status: {{ invitationStatus }}</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</div>
