.event-details {
  padding: 16px 16px 128px;
}

.mat-card-content {
  font-size: 16px;
}

.no-participants {
  display: flex;
}

.no-participants-text {
  margin-top: 3px;
  margin-left: 8px;
}

.mat-card-header {
  margin-top: 16px;
}

.prop {
  color: gray;
  padding-bottom: 7px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 8px;

  .left-side {
    flex-grow: 1;
  }

  .right-side {
    display: flex;
    flex-direction: column;
  }
}

.mat-chip-list {
  display: flex;
  flex-direction: column;
}

.mat-chip {
  background: rgba(0, 0, 0, 0.05);

  .mat-icon {
    margin-right: 8px;
  }
}

.yellow-chip {
  .mat-icon {
    color: #ffde03;
  }
}

.green-chip {
  .mat-icon {
    color: #64dd17;
  }
}

.red-chip {
  .mat-icon {
    color: #b00020;
  }
}

::ng-deep .mat-chip .mat-icon {
  color: black;
  fill: black;
}

.join-button {
  position: absolute;
  right: -8px;
  bottom: -24px;
}

.edit-button {
  position: absolute;
  right: -8px;
  bottom: -24px;
}

.delete-button {
  position: absolute;
  right: -8px;
  bottom: 48px;
}