.profile-view-container{

    margin-left: 30px;
}
.profile-username{
    margin-bottom: 20px;
}

.profile-firstname{
    margin-bottom: 20px;
}

.profile-lastname{
    margin-bottom: 20px;
}
.profile-points{
    margin-top:20px;
}

.profile-progress-bar{
    margin-top:10px;
    margin-bottom: 20px;
}

.profile-title{
    font-size: 30px;
    font-weight: 500;
}
.profile-view {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }
  
.profile-full-width {
    width: 100%;
}

.profile-container {
    max-width: 300px;
    margin-left: 40px;
}

.profile-container {
    overflow:auto;
}

.profile-button{
    float:left;
    margin-left: 20px;
}

.cancel-button{
    float: right;
    margin-right: 20px;
}