.profile-view {
  padding: 16px;
}

.field {
  margin-bottom: 8px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
}

.progress-bar-container .mat-progress-bar {
  margin-right: 8px;
}

.progress-bar-container .points {
  flex-shrink: 0;
}
