<div class="profile-view">
  <mat-card *ngIf="user">
    <mat-card-title>Profile</mat-card-title>

    <mat-card-content>
      <div class="field">
        <div class="mat-caption">Username</div>
        <div class="mat-body">{{ user.username }}</div>
      </div>

      <div class="field">
        <div class="mat-caption">First name</div>
        <div class="mat-body">{{ user.firstName }}</div>
      </div>

      <div class="field">
        <div class="mat-caption">Last name</div>
        <div class="mat-body">{{ user.lastName }}</div>
      </div>

      <div class="field">
        <div class="mat-caption">Trust level</div>
        <div class="mat-body">{{ user.trustLevel }}</div>
      </div>

      <div class="progress-bar-container field">
        <mat-progress-bar mode="determinate" [value]="pointsToNextLevel"></mat-progress-bar>
        <div class="points">{{ pointsToNextLevel }} / 100</div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="feedbacks-list">
    <app-user-feedback-card
      *ngFor="let feedback of feedbacks"
      [feedback]="feedback"
    ></app-user-feedback-card>
  </div>
</div>
