<div class="comment-container">
    <div class="comment">
        <div class="name-time">
            <div class="name">{{this.comment.author.firstName}}</div>
            <div class="time">{{this.comment.time | date:"dd-MM-yyyy"}}</div>
        </div>
        <div class="text">{{this.comment.text}}</div>
    </div>
    <button mat-mini-fab color="primary" aria-label="delete-button" (click)="deleteComment()"
    *ngIf="comment.author.username==username">
        <mat-icon>delete</mat-icon>
    </button>
</div>