<!-- <div class="comment-container"> -->
<mat-card>

  <div class="comment">
    <div class="name-time">
      <div>
        <div class="name">{{ this.comment.author.firstName }}</div>
      </div>
      <div class="comment-right-side">
        <div class="delete"
        (click)="deleteComment()"
        *ngIf="comment.author.username == username"
        >
          Delete
        </div>
        <div class="time">{{ this.comment.time | date: "dd-MM-yyyy" }}</div>
      </div>
    </div>
    <div class="text">{{ this.comment.text }}</div>
  </div>

</mat-card>