.name-time {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.time {
  margin-left: 10px;
  color: silver;
}
.name {
  font-weight: bolder;
}

.delete {
  font-weight: bolder;
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
button {
  margin-left: 10px;
}

.text {
  word-wrap: anywhere;
}

.mat-card {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
}

.name-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-right-side {
  display: flex;
  align-items: center;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
