<mat-card>
  <mat-card-content>
    <div class="name-time">
      <div>
        <div class="name">{{ this.comment.author.firstName }}</div>
      </div>
      <div class="comment-right-side">
        <button
          mat-button
          color="accent"
          (click)="deleteComment()"
          *ngIf="comment.author.username == username"
          disableRipple="true"
        >
          Delete
        </button>
        <div class="time">{{ this.comment.time | date: "dd-MM-yyyy, h:mm a" }}</div>
      </div>
    </div>
    <div class="text">{{ this.comment.text }}</div>
  </mat-card-content>
</mat-card>
