.name-time {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.time {
  margin-left: 10px;
  color: silver;
}
.name {
  font-weight: bolder;
}

.delete {
  font-weight: bolder;
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
button {
  margin-left: 10px;
}

.text {
  word-wrap: anywhere;
}

// .comment-container {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;
// }
// .comment-container{
//   padding-right: 16px;
//   padding-bottom: 25px;
// }
.mat-dialog {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 16px;
  padding-bottom: 25px;
}

.mat-card {
  width: -webkit-fill-available;
  margin-bottom: 16px;
}

.name-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-right-side {
  display: flex;
  align-items: center;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
