.name-time {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.time {
  margin-left: 10px;
  color: silver;
}
.name {
  font-weight: bolder;
}

.delete{
  font-weight: bolder;
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
.comment-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
button {
  margin-left: 10px;
}

.text{
  word-wrap: anywhere;
}

.comment-container{
  padding-right: 16px;
  padding-bottom: 25px;
}