<button *ngIf="isLoggedIn" class="add-btn" mat-fab color="primary" (click)="openEventFormDialog()">
  <mat-icon>add</mat-icon>
</button>
<mat-tab-group>
  <mat-tab label="Created">
    <div class="events-list">
      <app-event-card *ngFor="let event of eventsCreatedFuture" [event]="event"></app-event-card>
    </div>
  </mat-tab>
  <mat-tab label="Accepted">
    <div class="events-list">
      <app-event-card *ngFor="let event of eventsAcceptedFuture" [event]="event"></app-event-card>
    </div>
  </mat-tab>
</mat-tab-group>
