::ng-deep .marker-popup-container > .mat-dialog-container {
  background-color: transparent !important;
  box-shadow: none;
}

.mat-dialog-actions {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}
